// $primary-color: #290044;
$primary-color: #ffffff;
$secondary-color: #c70000;

html {
  // background: linear-gradient(to bottom, $primary-color, $secondary-color);
  background-color: $primary-color;
  color: black;
}

.header_title {
  text-align: left;
  margin-right: 71%;
  margin-left: 1%;
}

.nav {
  display: flex;
  position: sticky;
  top: 0%;
  overflow: hidden;
  background: $secondary-color;
  color: white;
  margin-top: -5%;
  margin-left: -9px;
  margin-right: -9px;
}

.btn_about,
.btn_projects,
.btn_contactMe {
  background-color: lavender;
  background-repeat: no-repeat;
  float: right;
  border: grey, 5px, 5px, 5px, 5px;
  color: black;
  cursor: pointer;
  overflow: hidden;
  border-radius: 25px;
  margin-top: 40px;
  margin-left: 1%;
  margin-bottom: 5%;
  padding-bottom: 5px;
  padding-top: 5px;
}

form {
  text-align: center;
  margin-top: 12%;
  margin-bottom: 10%;
}
